* {
  margin: 0;
  border: 0;
}

body {
  background-color: black;
  color: black;
}

.square {
  background-color: black;
}

.field {
  background-color: white;
  display: grid;
  gap: 2px;
  margin: 10px;
  width: 0;
}

.cell {
  background-color: white;
}
